@import url('https://fonts.googleapis.com/css?family=Baloo');

body {
	background-color: #FF8C00

}

nav {
	text-align: right;
	font-family: 'Baloo'; 
}


h1 {
	text-align: center;
    font-family: 'Baloo'; 
    color: white;
    size: *20
}

h2 {
	font-family: 'Baloo';
	color: #c0dec5;
}

h3 {
	Color:white;
	font-family: 'Baloo';
}

h4 {
	Color:white;
	font-family: 'Baloo';
}

p {
	Color:white;
	font-family: 'Baloo';
	font-weight: 300

}

ul {
	Color:white;
	font-family: 'Baloo';
	font-weight: 300

}